<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema académico</title>
  <link rel="stylesheet" href="/assets/css/estilos.css" />
</head>
<body>
  <header>
    <h1>Instituto Castoreum</h1>

    <nav>
      <ul>
        <li>
          <span>Materias</span>
          <ul>
            <li><a href='#'>Ed Fisica</a></li>
            <li><a href='#'>Contabilidad</a></li>
          </ul>
        </li>
        <li>
          <span>Pirulo</span>
          <ul>
            <li><a href='#'>Perfil</a></li>
            <li><a href='#'>Salir</a></li>    
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Alumnos de MATERIA</h2>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Parcial 1</th>
          <th>Parcial 2</th>
          <th>Parcial 3</th>
          <th>Parcial 4</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ivan TheRaging Python</td>
          <td>8</td>
          <td>7</td>
          <td>4</td>
          <td>10</td>
          <td><a href='/ver.html'>Ver notas</a></td>
        </tr>
        <tr>
          <td>Pelado ConTrenzas</td>
          <td>6</td>
          <td>6</td>
          <td>6</td>
          <td>9</td>
          <td><a href='/ver.html'>Ver notas</a></td>
        </tr>
        <tr>
          <td>Matías Lombardi</td>
          <td>8</td>
          <td>3</td>
          <td>5</td>
          <td>1</td>
          <td><a href='/ver.html'>Ver notas</a></td>
        </tr>
        <tr>
          <td>María Buchonesa</td>
          <td>10</td>
          <td>10</td>
          <td>10</td>
          <td>10</td>
          <td><a href='/ver.html'>Ver notas</a></td>
        </tr>
      </tbody>
    </table>
  </main>
</body>
</html>